.julie{
    /* background-image:url("../images/black.avif"); */
    background-color: #f5fdff;;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  
  } 
  #vanz{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-family: sans-serif;
    color: black;
    font-size: 60px;
  }
  .back {
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    margin-top: 20px;
    padding-bottom: 20px;
    /* Add some space above the images */
    }

.back img {
    width:80%; /* Ensure images don't exceed their container's width */
    height: auto; /* Maintain image aspect ratio */
    margin: 0 5px; /* Add some space between images */
    border-radius: 50%;
}

  .welcome-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:auto;
  }
  #second{
  padding-bottom: 10px; 
  color: black;
  font-size: 20px;
  padding-top: 10px;
  
  }

  
  .button:hover {
    background-color: #77b7f2;
  }
  
  .button:active {
    background-color: #59dbfe;
  }

  .footer{
    /* display:flex; */
    padding-top:60px;
    background-color:  #121314;
    color: white;
    position: absolute;
    width: 100%;
    }
  
    
      .hanisha {
        margin-left: auto;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    #demi {
      background-color: white;
      width: 80px;
      color: black;
      border-radius: 10px;
      border: 0px;
      outline: 1px;
    
    
    }
    .logo-img{
      width:70px;
      border-radius: 10%;

  
    }
     h1 .mac{
      text-align: center;
    }

    .card{
      border: 2px solid #333; /* Add a 2px solid border with color #333 */
      border-radius: 10px;
      opacity:90%;
      width: 87%;
      text-align: center; 
      margin-left: 80px; 
      box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    } 

    #demi:hover {
      background-color: aliceblue;
      font-size: 35px;
      border: 10px #343a40;
      color: black;
      font-size: large;
    }
    .nav-link{
      font-size: larger;
    }
    .nav-link:hover{
      color:#FB667A;
    }

    #t{
      color:white;
    }
    #t:hover{
      color:#FB667A;
    }

    #tt:hover{
      color: #FB667A;
    }
    #tt{
      color:white;
    }
