.registration-form{
    /* max-width: 50%; */
    border: 2px solid rgb(173, 189, 216);
    border-radius: 25px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 15px;
    background-color: rgba(158, 184, 217, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}


.logo-img{
    width:50px;
    border-radius: 10%;
    height: 50px;
  }

.card-header{
    border: 1px  #333; 
    opacity:90%;
    width: 87%;
    text-align: center; 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:30%;
    margin: 0 auto; 
    margin-top: 10px;
    background-color: aliceblue;
    text-align: center; 
  } 

/* Tables */
.table th,
.table td {
    padding: 8px;
    text-align: left;
    border: none; 
    outline: none;  
    
}

.table th {
    color: rgb(39, 38, 38);
}

.table tbody tr:hover {
    background-color: rgba(158, 184, 217, 0.5);
}


.table th, .table td {
    white-space: nowrap;
}

.table-responsive {
    justify-content: center;
}

.table {
    text-align: center;
}


/* Naviagtion links */
.nav-link {
    font-size: larger;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-menu a {
    color: rgb(7, 60, 153);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
.navbar-nav .nav-link {
    font-weight: normal;
    color: rgb(0, 0, 0); 
    transition: color 0.3s; 
  }
  
  
  .navbar-nav .nav-link:hover {
    color: #0056b3; 
    font-weight: bold; 
  }


/* social-icons */
.social-icons a:hover {
    background-color:#FB667A;
    padding: 20px;
  
  }
  
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s ease;
  }
  
/* Footer */
.footer{
    background-color:  #121314;
    color: white;
    position:fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%;
    text-align: center;
    padding: 10px;   
}
  
.button {
    background-color: #2780d9;
    cursor: pointer;
    border-radius: 10px;
    /* border: 10px solid; */
    padding-left: 20px;
    padding-right: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

