/* Login.css */ 
form{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 0 15px;
}

.logo-img{
  width:50px;
  border-radius: 1px;
  height: 50px;

}

.submit {
  background-color: #343a40;
  cursor: pointer;
  border-radius: 10px;
  border: 10px solid;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.04);
  width:200px;
}
.btn{
  background-color: #343a40;
  color:aliceblue;
}


#id_username {
border: 1px solid;
margin-bottom: 20px;


}
#id_password {
border: 1px solid;
}

.asteriskField{
color: red;
font-style: bold;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  margin: 5px;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color:#FB667A;
  padding: 20px;

}

.footer{
  padding-top:10px;
  background-color:  #121314;
  color: white;
  position: fixed;
  width: 100%;
  left: 0; 
  bottom: 0;
  text-align: center;
  }

 /* index.css */