{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body {
        background-color: rgba(158, 184, 217, 0.5); 
    }
    .card-header{
    border: 1px  #333; 
    opacity:90%;
    width: 87%;
    text-align: center; 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:30%;
    margin: 0 auto; 
    background-color: aliceblue;
    text-align: center; 
  } 
</style>
<div class="card-header">
    <h2>SITTER DEPARTURE FORM</h2>
  </div>
<hr>
<div class="container">
    <form method="post" class="registration-form">
        {% csrf_token %}
        {{ form|crispy }}
<br>
<button type="submit" name="submit" class="btn"  style="background-color: #2a5982;  color: aliceblue; width: 100px;">Register</button>
    </form>
    <br><br>
</div>

{% endblock %}
