{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
  body {
      background-color: rgba(158, 184, 217, 0.5); /* Faint background color */
  }
  .btn i {
      margin-right: 0.25rem; 
  }

  .card-header {
      background-color: #fff; 
      padding: 1rem; 
      margin-bottom: 1rem; 
  }

  .table {
      width: 100%; 
      border-collapse: collapse; 
      border: 1px solid #dee2e6; 
  }

  th,
  td {
      border: 1px solid #dee2e6;
      padding: 0.75rem; 
      text-align: left; 
  }

  th {
      background-color: #f0f0f0; 
  }

  /* Centering the search bar */
  .search-container {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
  }

  /* Adjusting the width of the search input */
  .search-input {
      width: 300px; /* Adjust this value as needed */
      margin-right: 0.5rem; /* Adding some space between input and button */
  }

  /* Resizing the search button */
  .search-btn {
      padding: 0.5rem 0.75rem; /* Adjust this value as needed */
  }

  .add-btn {
      margin-left: auto;
  }
  .container {
    width: 50%;
    margin: 0 auto;
  }

  input[type="text"],
  input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color:  #2a5982;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #06315B;}
</style>
<div class="card-header">
    <h2>ADD TO STOCK</h2>
</div>
<hr>
<div class="container">
  <form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Add</button>
  </form>
</div>
{% endblock %}
