{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body {
        background-color: rgba(158, 184, 217, 0.5); /* Faint background color */
    }
</style>
<div class="card-header" style="background-color: white;" >
    <h2>REGISTER BABIES</h2>
  </div>
<hr>
<div class="container">
    <form method="post" class="registration-form">
        {% csrf_token %}
        {{ form|crispy }}
<br>
    <button type="submit" name="submit" class="btn btn-primary">Register</button>
    </form>
    <br><br>
    <br>
    <br>
</div>
{% endblock %}
