{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body {
        background-color: rgba(158, 184, 217, 0.5); 
    }
</style>
<div class="card-header" style="background-color: white; margin-top: 10px;" >
    <h2>REGISTER BABIES</h2>
  </div>
<hr>
<div class="container">
    <form method="post" class="registration-form position-relative">
        {% csrf_token %}
        {{ form|crispy }}
<br>
    <button type="submit" name="submit" class="btn position-absolute bottom-0 end-0 m-2"  style="background-color: #2a5982;  color: aliceblue; width: 100px;">Register</button>
    </form>
    <br><br>
    <br>
    <br>
</div>
{% endblock %}
