{% extends 'base.html' %} {% block content %}
<style>
  body {
      background-color: rgba(158, 184, 217, 0.5); 
  }

  .btn-container {
      display: flex;
      align-items: center; 
  }

  .btn {
      background-color:  #2a5982; 
      color: #fff; 
      border: none; 
      padding: 0.5rem 1rem; 
      margin-right: 0.5rem; 
      cursor: pointer; 
  }

  .btn i {
      margin-right: 0.25rem; 
  }
  .card-header{
    border: 1px  #333; 
    opacity:90%;
    width: 87%;
    text-align: center; 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:30%;
    margin: 0 auto; 
    margin-top: 10px;
    background-color: aliceblue;
    text-align: center; 
  } 
  .table {
      width: 100%; 
      border-collapse: collapse; 
      border: 1px solid #dee2e6; 
  }

  th,
  td {
      border: 1px solid #dee2e6;
      padding: 0.75rem; 
      text-align: left; 
  }

  th {
      background-color: #f0f0f0; 
  }

  /* Centering the search bar */
  .search-container {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
  }

  /* Adjusting the width of the search input */
  .search-input {
      width: 300px; /* Adjust this value as needed */
      margin-right: 0.5rem; /* Adding some space between input and button */
  }

  /* Resizing the search button */
  .search-btn {
      padding: 0.5rem 0.75rem; /* Adjust this value as needed */
  }

  /* Moving the Add button to the right corner */
  .add-btn {
      margin-left: auto; /* Automatically align to the right */
  }
</style>
<div class="card-header">
<h2>ALL QUANTITY</h2>
</div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Available Quantity</th>
        <th scope="col">Total Quantity issued</th>
        <!-- <th scope="col">Net Quantity</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{total_received_quantity}}</td>
        <td>{{total_issued_quantity}}</td>
        <!-- <td>{{net_quantity}}</td> -->
      </tr>
    </tbody>
  </table>
</div>
<br><br>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Stock name</th>
        <th scope="col">Quantity Issued</th>
        <th scope="col">Issue date</th>  
        <th scope="col">Issued To</th>  
      </tr>
    </thead>
    {% for issue  in issues %}
    <tbody>
      <tr> 
        <td>{{issue.item | title}}</td>
        <td>{{issue.quantity_issued}}</td>
        <td>{{issue.issue_date}}</td>  
        <td>{{issue.issued_to}}</td>  
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}


