{% extends 'base.html' %}
{% load static %}
{% block content%}
<h4 class="mb-3">BABIES PRESENT</h4><hr>
<a href="/addarrival" class="btn btn-primary mb-3">Add</a>
<!-- <a style="margin-left: 900px;" href="/arrival" class="btn btn-primary mb-3">DAILY DEPARTURE REGISTER</a> -->
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Babysnumber</th>
                <th scope="col">Date</th>
                <th scope="col">Timein</th>
                <th scope="col">Brought By</th>
                <th scope=>Action</th>
            </tr>
        </thead>
        <tbody>

           
            {% for baby in arrivals %}
            <tr>
                <td>{{ baby.id }}</td>
                <td>{{ baby.baby_name}}</td>
                <td>{{ baby.baby_number }}</td>
                <td>{{ baby.date }}</td>
                <td>{{ baby.timein }}</td>
                <td>{{ baby.broughtby}}</td>
                <td>
                    <a href="{% url 'editarrival' id=baby.id %}" class="btn btn-primary">Edit </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}