{% extends 'base.html' %}
{% load static %}
{% block content%}
<style>
    body {
        background-color: rgba(158, 184, 217, 0.5); 
    }

    .btn-container {
        display: flex;
        align-items: center; 
    }

    .btn {
        background-color: #2a5982; 
        color: #fff; 
        border: none; 
        padding: 0.5rem 1rem; 
        margin-right: 0.5rem; 
        cursor: pointer; 
    }

    .btn i {
        margin-right: 0.25rem; 
    }

    .card-header {
        background-color: #fff; 
        padding: 1rem; 
        margin-bottom: 1rem; 
    }

    .table {
        width: 100%; 
        border-collapse: collapse; 
        border: 1px solid #dee2e6; 
    }

    th,
    td {
        border: 1px solid #dee2e6;
        padding: 0.75rem; 
        text-align: left; 
    }

    th {
        background-color: #f0f0f0; 
    }

    /* Centering the search bar */
    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    /* Adjusting the width of the search input */
    .search-input {
        width: 300px; 
        margin-right: 0.5rem; 
    }

    /* Resizing the search button */
    .search-btn {
        padding: 0.5rem 0.75rem;
    }

    /* Moving the Add button to the right corner */
    .add-btn {
        margin-left: auto; 
    }
</style>

<div class="card-header">
    <h2>BABIES PRESENT</h2>
</div>
<a href="/addarrival" class="btn btn-primary mb-3">Add</a>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Baby number</th>
                <th scope="col">Assigned</th>
                <th scope="col">Date</th>
                <th scope="col">Time In</th>
                <th scope="col">Bringer</th>
                <th scope=>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for baby in arrivals %}
            <tr>
                <td>{{ baby.id }}</td>
                <td>{{ baby.baby_name}}</td>
                <td>{{ baby.baby_number }}</td>
                <td>{{ baby.assign }}</td>
                <td>{{ baby.date }}</td>
                <td>{{ baby.timein }}</td>
                <td>{{ baby.brought}}</td>
                <td>
                    <a href="{% url 'editarrival' id=baby.id %}" class="btn btn-primary">Edit </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}