{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: rgba(158, 184, 217, 0.5); 
    }

    .btn-container {
        display: flex;
        align-items: center; 
    }

    .btn {
        background-color: #2a5982; 
        color: #fff; 
        border: none; 
        padding: 0.5rem 1rem; 
        margin-right: 0.5rem; 
        cursor: pointer;
        width: 100px; 
    }

    .btn i {
        margin-right: 0.25rem; 
    }

    .card-header{
    border: 1px  #333; 
    opacity:90%;
    width: 87%;
    text-align: center; 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:30%;
    margin: 0 auto; 
    background-color: aliceblue;
    text-align: center; 
  } 

    .table {
        width: 100%; 
        border-collapse: collapse; 
        border: 1px solid #dee2e6; 
    }

    th,
    td {
        border: 1px solid #dee2e6;
        padding: 0.75rem; 
        text-align: left; 
    }

    th {
        /* background-color: #f0f0f0;  */
        background-color: rgb(36, 34, 34);
    }

    /* Centering the search bar */
    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    /* Adjusting the width of the search input */
    .search-input {
        width: 300px; 
        margin-right: 0.5rem; 
    }

    /* Resizing the search button */
    .search-btn {
        padding: 0.5rem 0.75rem; 
    }

    /* Moving the Add button to the right corner */
    .add-btn {
        margin-left: auto; 
    }
</style>
<br>
<div class="card-header">
    <h2>BABIES LIST</h2>
</div>
<br>
<div class="mt-4">
    <div class="btn-container">
        <a href="{%  url 'addbaby' %}" class="btn add-btn"><i class="fas fa-plus"></i>Add</a>
    </div>

    <div class="search-container">
        <form method="GET" action="{% url 'search_baby' %}">
            <input type="text" name="search" placeholder="Search" class="search-input">
            <button type="submit" class="btn search-btn">Search</button>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead  class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Baby No</th>
                    <th scope="col">Categorystay</th>
                    <th scope="col">Date</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Location</th>
                    <!-- <th scope="col">Time In</th> -->
                    <th scope="col">Brought by</th>
                    <th scope="col">Action</th> 
                </tr>
            </thead>
            <tbody>
                {% for baby in babies %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ baby.Baby_name }}</td>
                    <td>BB-00{{ baby.baby_number }}</td>
                    <td>{{ baby.c_stay}}</td>
                    <td>{{ baby.Date }}</td>
                    <td>{{ baby.Gender }}</td>
                    <td>{{ baby.Age}}</td>
                    <td>{{ baby.Location }}</td>
                    <!-- <td>{{ baby.timein }}</td> -->
                    <td>{{ baby.brought }}</td>
                    <td class="btn-container">
                        <a href="{% url 'edit' id=baby.id %}" class="btn"><i class="fas fa-edit"></i>Edit</a>
                        <form action="{% url 'delete_baby' id=baby.id %}" method="POST" onsubmit="return confirm('Delete')">
                            {% csrf_token %}
                            <button class="btn" type="submit"><i class="fas fa-trash"></i>Delete</button>
                        </form>
                        <td>
                            <button type="button" class="btn btn-success me-1"
                                href="{% url 'read' id=baby.id %}" data-bs-toggle="modal"
                                data-bs-target="#myModal{{baby.id}}">
                                <i class="fa-solid fa-circle-info fa-lg"></i>
                            </button>


                            <!-- modal view -->
                            <div class="modal" id="myModal{{baby.id}}" tabindex="-1" aria-labelledby="myModallabel1" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title">Baby: {{ baby.Baby_name}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <ul class="list-unstyled">
                                            <li>Baby Name: <strong> {{ baby.Baby_name }} </strong> </li>
                                            <li>Father's Name: <strong> {{ baby.fathers_names }} </strong> </li>
                                            <li>Mother's Name: <strong> {{ baby.mothers_names }} </strong> </li>
                                            <li>Period: <strong> {{ baby.c_stay }} </strong> </li>
                                            <!-- <li>Assigned Sitter: <strong> {{ baby.assigned }} </strong> </li> -->
                                            <li>Date: <strong> {{ baby.Date }} </strong> </li>
                                            <li>Gender: <strong> {{ baby.Gender }} </strong> </li>
                                            <li>Age: <strong> {{ baby.Age }} </strong> </li>
                                            <li>Location: <strong> {{ baby.Location }} </strong> </li>
                                            
                                            <li>Brought By: <strong> {{ baby.brought }} </strong> </li>
                                        

                                        </ul>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Close</button>
                                            <a href="{% url 'read' id=baby.id %}" type="button" class="btn btn-success">View</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
