{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    /* Move to the top right corner */
    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px; /* Add some margin at the bottom of buttons */
    }

    /* Your existing styles */


    body {
        background-color: rgba(158, 184, 217, 0.5); /* Faint background color */
    }

    .btn-container {
        display: flex;
        align-items: center;
    }

    .btn {
        background-color:  #2a5982;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        cursor: pointer;
    }

    .btn i {
        margin-right: 0.25rem;
    }

    .card-header{
    border: 1px  #333; 
    opacity:90%;
    width: 87%;
    text-align: center; 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:30%;
    margin: 0 auto; 
    margin-top: 10px;
    background-color: aliceblue;
    text-align: center; 
  } 

    .table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #dee2e6;
    }

    th,
    td {
        border: 1px solid #dee2e6;
        padding: 0.75rem;
        text-align: left;
    }

    th {
        background-color: #f0f0f0;
    }
    
</style>
<div class="project-container">
<div class="button-container">
    <a href="{% url 'receipt' %}" class="hover_button"><input type="submit" value="Receipts" class="btn btn-primary" placeholder="Receipts"/></a>
    <a href="{% url 'all_sales' %}" class="hover-button"><input type="submit" value="All_sales" class="btn btn-primary" type="button"/></a>
</div>
<div class="card" style="width: 70%; height: 90px; margin-left: 150px;">
    <div class="card-body" style="color: black; background-color:#f5fdff;">
        <div class="project-container">
                <form method="GET" action="{% url 'search_doll' %}" style="width: 100%; text-align: center; margin-top: 10px;" class="search">
                    <input type="text" name="search" placeholder="Search" class="search-input">
                    <button type="submit" class="btn btn-dark btn" >Search</button>
                </form>
            </div>
        </div>
    </div>
</div>





<div class="card-header">
    <h2>DOLLS IN STOCK</h2>
</div>
<br>
<table class="table table-bordered"  style="border-top: 2px solid rgb(34,32,32);">
    <thead class="thead-dark table-bordered">
        <tr>
            <th scope="col" class="project-h1">Category</th>
            <th scope="col" class="project-h1">Doll name</th>
            <th scope="col" class="project-h1">Doll number</th>
            <th scope="col" class="project-h1">Quantity</th>
            <th scope="col" class="project-h1">Unit Price(UGX)</th>
            <th scope="col" class="project-h1">Detail</th>
        </tr>
    </thead>
    {% for doll in dolls %}
    <tbody>
        <tr style="font-family: sans-serif;">
            <td>{{doll.c_doll}}</td>
            <td>{{doll.name_of_the_doll}}</td>
            <td>{{doll.doll_number}}</td>
            <td>{{doll.quantity}}</td>
            <td>UGX{{doll.Unit_price}}</td>
            <div><!-- here we are hadling the buy item link n its handled by product_detail view -->
                <td>
                    <a href="{% url 'dollcorner' doll_id=doll.id %}" class="btn btn-primary">SELL DOLL</a>
                </td>
            </div>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
{% endblock %}
