{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="card-header" style="background-color: white;" >
    <h2>EDIT BABY</h2>
  </div>
<hr>
<div class="container">
    <form method="post" class="registration-form">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" name="submit" class="btn"  style="background-color: #2a5982; color: aliceblue; width: 100px;">Update</button>
    </form>
    <br><br>
    <br>
    <br>
</div>
{% endblock %}
