{% extends 'base.html' %}
{% block content %}

<style>
    body {
        background-color: rgba(158, 184, 217, 0.5); 
    }
     
</style>
<p style="font-size: x-large;color:rgb(22, 47, 144); text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Welcome to DayStar Daycare! What would you like to do today?</p>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 text-center mb-4">
            <div class="p-4 shadow" style="border-radius: 50px; background-color:  rgba(99, 141, 195, 0.5);">
                <h2 class="text-2xl font-bold text-blue-500 mb-2">{{ count_babies }}</h2>
                <!-- <p class="text-gray-600 font-medium"><b>Babies</b></p> -->
                <a style="background-color: rgba(99, 141, 195, 0.5);" href="{%  url 'babiesform' %}" class="btn">Babies</a>
            </div>
        </div>
        <div class="col-md-3 text-center mb-4">
            <div class="bg-white p-4 shadow" style="border-radius: 50px; background-color:  rgba(99, 141, 195, 0.5);">
                <h2 class="text-2xl font-bold text-blue-500 mb-2">{{ count_sitters }}</h2>
                <!-- <p class="text-gray-600 font-medium"><b>Sitters</b></p> -->
                <a style="background-color: rgba(99, 141, 195, 0.5);" href="{%  url 'sittersform' %}" class="btn ">Sitters</a>
            </div>
        </div>
        <div class="col-md-3 text-center mb-4">
            <div class=" p-4  shadow" style="border-radius: 50px; background-color:  rgba(99, 141, 195, 0.5);">
                <h2 class="text-2xl font-bold text-blue-500 mb-2">{{ count_dolls_in_stock }}</h2>
                <!-- <p class="text-gray-600 font-medium"><b>Dolls</b></p> -->
                <a style="background-color: rgba(99, 141, 195, 0.5);" href="{%  url 'doll' %}" class="btn">Dolls</a>
            </div>
        </div>
        <div class="col-md-3 text-center mb-4">
            <div class="bg-white p-4 shadow" style="border-radius: 50px; background-color:  rgba(99, 141, 195, 0.5);">
                <h2 class="text-2xl font-bold text-blue-500 mb-2">{{ count_payments }}</h2>
                <!-- <p class="text-gray-600 font-medium"><b>Payments</b></p> -->
                <a style="background-color: rgba(99, 141, 195, 0.5);" href="{%  url 'paymentform' %}" class="btn">Payments</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="bg-white p-4 shadow" style="border-radius: 50px;">
                <h2 class="text-lg font-bold mb-3" style="font-family: 'Courier New', Courier, monospace;">Recent Babies</h2>
                <table class="table">
                    <thead class="bg-blue-500 text-white">
                        <tr>
                            <th>Baby Number</th>
                            <th>Name</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for baby in recent_babies %}
                        <tr>
                            <td>BB-00{{ baby.id }}</td>
                            <td>{{ baby.Baby_name }}</a></td>
                            <td>{{ baby.Age }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="bg-white p-4 shadow" style="border-radius: 50px;">
                <h2 class="text-lg font-bold mb-3"  style="font-family: 'Courier New', Courier, monospace;">Recent Sitters</h2>
                <table class="table">
                    <thead class="bg-blue-500 text-white">
                        <tr>
                            <th>Sitter Number</th>
                            <th>Sitter Name</th>
                            <th>Date of Birth</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sitter in sitters %}
                        <tr>
                            <td>ST-00{{ sitter.id }}</td>
                            <td>{{ sitter.Sitter_name }}</a></td>
                            <td>{{ sitter.Date_of_birth }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<footer>
    <div class="footer">
      <!-- <div class="social-icons">
        <a href="https://www.facebook.com/your-page" target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://twitter.com/your-handle" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com/your-account/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </div> -->
      <p>&copy; 2023 Kanza Jovita. All rights reserved.</p>
    </div>
  </footer>

{% endblock %}
