{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
      
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body">
      <div class="container-fluid">

        <a class="navbar-brand" href="#"><img style="border-radius: 50px;" src="{% static 'images/logo.jpg' %}" alt="logo"
          class="logo-img" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="ml-auto">
              <a class="btn btn-light" href="{% url 'login' %}" id="medi">Login</a>
          </div>
      </div>
  </nav>


  <div class="caffeine">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <div class="curved-container">
                    <h3 id="jovita" class="thick-text">DayStar Daycare</h3>
                        <p id="second" style="padding-top: 10px;">"Daystar Daycare: Where Little Stars Shine Brightest in a Home of Joy".</p>
                </div>
            </div>

        </div>
    </div>

    <!-- end of card -->

    <!-- main -->

  
<footer>
      <div class="footer">
          <div class="social-icons">
              <a href="https://www.facebook.com/your-page" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://twitter.com/your-handle" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/your-account/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
          <p>&copy; 2023 Kanza Jovita. All rights reserved.</p>
      </div>
</footer>
</body>
</html>
