{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="card-header">
    <h2>SALES FORM</h2>
</div>
<div class="back-container">
        <div class="container">
            <form method="POST" class="sales-form">
                {% csrf_token %}
                {{ sales_form | crispy }}
                <button type="submit" class="btn btn-primary" >SELL</button>
            </form>
            <br><br>
        </div>       
    </form>
{% endblock %}