{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
    <title>Login - Daystar Daycare</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><img  src="{% static 'images/my_logo.jpg' %}" alt="logo"
                    class="logo-img" /></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <!-- <a class="nav-link active" href="{% url 'index' %}" id="t">Home -->
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
    
                </ul>
            </div>
        </div>
    </nav>

    <!-- end of nav -->

    <div class="login-container" style="padding-top: 10px;">
      </div>
    {% block content %}
    <form id="form" method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <br>
        <input type="submit" name="Submit" class="btn   btn-block submit"
            style="background-color: #343a40; color: aliceblue;"> <br>
    </form>

    {% endblock %}



    <footer>
        <div class="footer">
            <div class="social-icons">
                <a href="https://www.facebook.com/your-page" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/your-handle" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/your-account/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <p>&copy; 2023 Kanza Jovita. All rights reserved.</p>
        </div>
  </footer>
</body>
</html>