<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>

    <!--bootstrap icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <footer class="pt-3 mt-5" style="background-color: #000;">
        <div class="container d-flex flex-column align-items-center ">
            <div class="icons d-flex justify-content-between " style="width: 150px;">
                <div class="text-primary  bg-dark-subtle rounded-circle d-flex align-items-center justify-content-center border"
                    style="width: 25px; height:25px;">
                    <a href="">
                        <i class="fa fa-facebook " style="font-size:10px;"></i>
                    </a>
                </div>
                <div class="text-primary bg-dark-subtle rounded-circle d-flex align-items-center justify-content-center border"
                    style="width: 25px; height:25px;">
                    <a href="">
                        <i class="fa fa-linkedin " style="font-size:10px;"></i>
                    </a>
                </div>
                <div class="text-primary bg-dark-subtle rounded-circle d-flex align-items-center justify-content-center border"
                    style="width: 25px; height:25px;">
                    <a href="">
                        <i class="fa fa-twitter " style="font-size:10px;"></i>
                    </a>
                </div>
                <div class="text-primary bg-dark-subtle rounded-circle d-flex align-items-center justify-content-center border"
                    style="width: 25px; height:25px;">
                    <a href="">
                        <i class="fa fa-github " style="font-size:10px;"></i>
                    </a>
                </div>
                <div class="text-primary bg-dark-subtle rounded-circle d-flex align-items-center justify-content-center border"
                    style="width: 25px; height:25px;">
                    <a href="">
                        <i class="fa fa-envelope " style="font-size:10px;"></i>
                    </a>
                </div>  
            </div>
            <p class="text-light mt-1" style="font-size: 10px;">Copyright © zash 2024</p>
        </div>

    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
</body>
</html> 