{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: rgba(158, 184, 217, 0.5); 
    }

    .btn-container {
        display: flex;
        align-items: center; 
    }

    .btn {
        background-color:  #2a5982; 
        color: #fff; 
        border: none; 
        padding: 0.5rem 1rem; 
        margin-right: 0.5rem; 
        cursor: pointer; 
    }

    .btn i {
        margin-right: 0.25rem; 
    }

    .card-header {
        background-color: #fff; 
        padding: 1rem; 
        margin-bottom: 1rem; 
    }

    .table {
        width: 100%; 
        border-collapse: collapse; 
        border: 1px solid #dee2e6; 
    }

    th,
    td {
        border: 1px solid #dee2e6;
        padding: 0.75rem; 
        text-align: left; 
    }

    th {
        background-color: #f0f0f0; 
    }

    /* Centering the search bar */
    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    /* Adjusting the width of the search input */
    .search-input {
        width: 300px; 
        margin-right: 0.5rem; 
    }

    /* Resizing the search button */
    .search-btn {
        padding: 0.5rem 0.75rem; 
    }

    /* Moving the Add button to the right corner */
    .add-btn {
        margin-left: auto; 
    }
</style>
<div class="card-header">
    <h2>SITTER PAY LIST</h2>
</div>
<a href="{% url 'add_payment' %}" class="btn btn-primary">Make Payment</a>
</td>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-white">
            <tr>
                <th scope="col"> Sitter Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Babies Assigned</th>
                <th scope="col">Total Amount</th>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.sitter_names}}</td>
                <td>UGX{{ payment.amount }}</td>
                <td>{{ payment.date }}</td>
                <td>{{ payment.babies_assigned}}</td>
                <td>UGX{{ payment.total_amount}}</td>     
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br>
{% endblock %}