{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: rgba(158, 184, 217, 0.5); /* Faint background color */
    }

    .btn-container {
        display: flex;
        align-items: center; 
    }

    .btn {
        background-color: #2a5982; 
        color: #fff; 
        border: none; 
        padding: 0.5rem 1rem; 
        margin-right: 0.5rem; 
        cursor: pointer; 
    }

    .btn i {
        margin-right: 0.25rem; 
    }

    .card-header {
        background-color: #fff; 
        padding: 1rem; 
        margin-bottom: 1rem; 
    }

    .table {
        width: 100%; 
        border-collapse: collapse; 
        border: 1px solid #dee2e6; 
    }

    th,
    td {
        border: 1px solid #dee2e6;
        padding: 0.75rem; 
        text-align: left; 
    }

    th {
        background-color: #f0f0f0; 
    }

    /* Centering the search bar */
    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    /* Adjusting the width of the search input */
    .search-input {
        width: 300px; /* Adjust this value as needed */
        margin-right: 0.5rem; /* Adding some space between input and button */
    }

    /* Resizing the search button */
    .search-btn {
        padding: 0.5rem 0.75rem; /* Adjust this value as needed */
    }

    /* Moving the Add button to the right corner */
    .add-btn {
        margin-left: auto; /* Automatically align to the right */
    }

    .Pending {
    color: red;
    font-weight: bold; 
}

/* CSS for blue text */
    .Cleared {
    color: green;
    font-weight: bold; 
}
</style>
<div class="card-header">
    <h2>PAYMENTS</h2>
</div>
<a style="float: right;" href="/addpayment" class="btn btn-primary mb-3">Make payment</a>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-teal">
            <tr>
                <th scope="col">Baby No</th>
                <th scope="col">Payee</th>
                <th scope="col">Period</th>
                <th scope="col">Mode</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Amount Paid</th>
                <th scope="col">Status</th>
                <th scope="col">Balance</th>
                <th scope=>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for payment  in payments %}
            <tr style="background-color: white;">
                <td>BB-00{{ payment.id }}</td>
                <td>{{ payment.payee }}</td>
                <td>{{ payment.c_payment }}</td>
                <td>{{ payment.c_mode }}</td>
                <td>{{ payment.date }}</td>
                <td>{{ payment.selected_amount }}</td>
                <td>{{ payment.amount_paid }}</td>
                <td class="{% if payment.payment_status == 'Pending' %}Pending{% elif payment.payment_status == 'Cleared' %}Cleared{% endif %}">
                    {{ payment.payment_status }}
                </td>
                <td>{{ payment.balance }}</td>
                
                <td>
                    <a href="{% url 'editpayment' id=payment.id %}" class="btn btn-primary ">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br><br>
</div>
{% endblock %}












