{% extends 'base.html'%} {% block content%}
<br></br>

<div class = "container">
    <a href="{% url 'issue_item' product.id %}" class="hover-button" ><input type="submit" value="Sell Item" class="btn btn-dark" type="button"/></a>
    <a href="{% url 'add_to_stock' product.id %}"  class="hover-button"><input type= "submit" value="Add to Stock" class="btn btn-dark" type="button"/></a>
</div>

<br></br>
<div class="card-header" style="background-color: white;" >
  <h2>Product Detail</h2>
</div>
<div class = "container">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Number</th>
        <th scope="col">Total Quantity</th>
        <th scope="col">Received Quantity</th>
        <th scope="col">Issued Quantity</th>
        <th scope="col">Unit Price(UGX)</th> 
        <th scope="col">Detail</th>  
      </tr>
    </thead>
    <tbody>
      <tr>    
        <th scope="row">{{ product.id }}</th>
            <td>{{product.Category_name}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.total_quantity}}</td>
            <td>{{product.received_quantity}}</td>
            <td>{{product.issued_quantity}}</td>
            <td>UGX{{product.unit_price}}</td>
      </tr>
    </tbody>  
  </table>
</div>
{% endblock%}