{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="main" class="mt-3">
    <section class="pb-3 pb-md-4 pb-xl-5 " style="background-color: rgba(158, 184, 217, 0.5);">
        <div class="container">
            <div class="row gy-4 gy-lg-0">
                <div class="col-12 col-lg-4 col-xl-4">
                    <div class="row gy-4">
                        <div class="col-12">
                            <div
                                class="card widget-card border-light shadow-sm"
                            >
                            
                                <div class="card-body">
                                    <div class="text-center mb-3">
                                        <img
                                            src="{% static '/images/jovin.jpg' %}"
                                            class="img-fluid rounded-circle w-25"
                                            alt="baby {{ baby.baby_number }}"
                                        />
                                    </div>
                                    <h5 class="text-center mb-1">
                                        {{ babies_info.Baby_name }}
                                        <span>{{ babies_info.baby_number }}</span>
                                    </h5>

                                    <div class="d-flex gap-4">
                                        <a href="{% url 'edit' babies_info.id %}"
                                            ><button
                                                class="btn btn-primary"
                                                type="button"
                                            >
                                                <i
                                                    class="fa fa-pen"
                                                    aria-hidden="true"
                                                ></i
                                                >Edit
                                            </button>
                                        </a>
                                        <a href="{% url 'doll' %}"
                                            ><button
                                                class="btn btn-primary"
                                                type="button"
                                            >
                                                <i
                                                    class=""
                                                    aria-hidden="true"
                                                ></i
                                                >Buy Doll
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div
                                class="card widget-card border-light shadow-sm"
                            >
                                <div class="card-header text-bg-primary-outline">
                                    About 
                                </div>
                                <div class="card-body">
                                    <ul
                                        class="list-group list-group-flush mb-0"
                                    >
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                <span
                                                    class="bii bi-mortarboard-fill me-2"
                                                ></span>
                                                Parent's Name
                                            </h6>
                                            <span>{{babies_info.fathers_names}}</span> &
                                            <span>{{babies_info.mothers_names}}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                <span
                                                    class="bii bi-geo-alt-fill me-2"
                                                ></span>
                                                Location
                                            </h6>
                                            <span
                                                >{{babies_info.Location}}</span
                                            >
                                        </li>
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                <span
                                                    class="bii bi-building-fill-gear me-2"
                                                ></span>
                                                Age
                                            </h6>
                                            <span>{{babies_info.Age}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>





                <div class="col-12 col-lg-8 col-xl-8">
                    <div class="card widget-card border-light shadow-sm">
                        <div class="card-body p-4">
                            <ul
                                class="nav nav-tabs"
                                id="profileTab"
                                role="tablist"
                            >
                            </ul>
                            <div
                                class="tab-content pt-4"
                                id="profileTabContent"
                            >
                                <div
                                    class="tab-pane fade show active"
                                    id="overview-tab-pane"
                                    role="tabpanel"
                                    aria-labelledby="overview-tab"
                                    tabindex="0"
                                >
                                    <h5 class="mb-3">About</h5>
                                    <p class="lead mb-3">
                                        Ashaba is a baby at Daystar Daycare.Has no complications,eats well,loves playing with toys and is an active child.Ashaba is currently in the premises.
                                    </p> 
                                    <h5 class="mb-3">Assigned Sitter</h5>
                                    <div class="row g-0">
                                    
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Date</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for baby in babies %}
                                              <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ sitter.Sitter_name }}</td>
                                                <td>
                                                    {% for attendance in sitter.attendance_set.all %}
                                                        {{ attendance.a_payment_date|date }}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ baby.C_stay }}</td>
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
