{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: rgba(158, 184, 217, 0.5); 
    }

    .btn-container {
        display: flex;
        align-items: center; 
    }

    .btn {
        background-color: #2a5982; 
        color: #fff; 
        border: none; 
        padding: 0.5rem 1rem; 
        margin-right: 0.5rem; 
        cursor: pointer; 
    }

    .btn i {
        margin-right: 0.25rem; 
    }
    .card-header{
    border: 1px  #333; 
    opacity:90%;
    width: 87%;
    text-align: center; 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:30%;
    margin: 0 auto; 
    margin-top: 10px;
    background-color: aliceblue;
    text-align: center; 
  } 

    .table {
        width: 100%; 
        border-collapse: collapse; 
        border: 1px solid #dee2e6; 
    }

    th,
    tr {
        border: 1px solid #dee2e6;
        text-align: left;
        height: 10px;
        padding: 15px;

    }

    th {
        background-color: #f0f0f0; 
    }

    /* Centering the search bar */
    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    /* Adjusting the width of the search input */
    .search-input {
        width: 300px; 
        margin-right: 0.5rem; 
    }

    /* Resizing the search button */
    .search-btn {
        padding: 0.5rem 0.75rem; 
    }

    /* Moving the Add button to the right corner */
    .add-btn {
        margin-left: auto; 
    }
    .del_btn {
        background-color: rgb(222, 85, 85); 
        color: #fff; 
        border: none; 
        padding: 0.5rem 1rem; 
        margin-right: 0.5rem; 
        cursor: pointer;
        border-radius: 5px;
    }
</style>

<div class="card-header" style="background-color: white;" >
    <h2>SITTERS LIST</h2>
</div>
<br>
<div class="mt-4">
    <div class="btn-container">
        <a href="{%  url 'addsitter' %}" class="btn btn-primary mb-3 add-btn">Add new sitter</a>
    </div>

    <div class="search-container">
        <form method="GET" action="{% url 'search_sitter' %}">
            <input type="text" name="search" placeholder="Search" class="search-input">
            <button type="submit" class="btn search-btn">Search</button>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered"  style="border-top: 2px solid rgb(34,32,32);">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Sitter Number</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Gender</th>
                    <th scope="col">NIN</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for sitter in sitters %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ sitter.Sitter_name }}</td>
                    <td>ST-00{{ sitter.Sitter_number }}</td>
                    <td>{{ sitter.Date_of_birth }}</td>
                    <td>{{ sitter.date | date}}</td>
                    <td>{{ sitter.Location }}</td>
                    <td>{{ sitter.Gender}}</td>   
                    <td>{{ sitter.NIN }}</td>
                    <td>   
                        <!-- <a href="{% url 'read_sitter' id=sitter.id %}"class="btn btn-primary mb-2">View</a> -->
                        <a href="{% url 'edit_sitter' id=sitter.id %}" class="btn"><i class="fas fa-edit"></i>Edit</a>
                        <!-- <a href="{% url 'delete_sitter' id=sitter.id %}" class="del_btn btn"><i class="fas fa-trash"></i>Delete</a> -->
                        <td>
                            <button type="button" class="btn btn-primary me-1"
                                href="{% url 'read_sitter' id=sitter.id %}" data-bs-toggle="modal"
                                data-bs-target="#myModal{{baby.id}}">
                                <i class="fa-solid fa-circle-info fa-lg"></i>
                            </button>


                            <!-- modal view -->
                            <div class="modal" id="myModal{{baby.id}}" tabindex="-1" aria-labelledby="myModallabel1" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title">Sitter: {{ sitter.Sitter_name}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <ul class="list-unstyled">
                                            <!-- <li>Sitter No: <strong> {{ sitter.sitter.id }} </strong> </li> -->
                                            <li>Sitter Name: <strong> {{ sitter.Sitter_name }} </strong> </li>
                                            <li>Sitter Number: <strong> {{ sitter.Sitter_number }} </strong> </li>
                                            <li>DOB: <strong> {{ sitter.Date_of_birth }} </strong> </li>
                                            <li>Contact: <strong> {{ sitter.Contact }} </strong> </li>
                                            <li>Date: <strong> {{ sitter.date }} </strong> </li>
                                            <li>Location: <strong> {{ sitter.Location }} </strong> </li>
                                            <li>Gender: <strong> {{ sitter.Gender }} </strong> </li>
                                            <li>Educ. Level: <strong> {{ sitter.Level_of_education }} </strong> </li>
                                            <li>Next of Kin: <strong> {{ sitter.Next_of_kin }} </strong> </li>
                                            <li>NIN: <strong> {{ sitter.NIN }} </strong> </li>
                                            <li>Recommenders Name: <strong> {{ sitter.Recommenders_name }} </strong> </li>
                                            <li>Religion: <strong> {{ sitter.Religion }} </strong> </li>

                                        </ul>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Close</button>
                                            <!-- <a href="{% url 'read_sitter' id=sitter.id %}" type="button" class="btn btn-primary">View</a> -->
                                    </div>
                                </div>
                            </div>
                            </div>
                        </td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
       </table>
    </div>
</div>
<hr>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            
        
{% if sitters.has_previous %}
<li class="page-item">
    <a href="?page=1" class="page-link">&laquo; First</a>
</li>
<li class="page-item">
    <a href="?page={{sitters.previous_page_number}}" class="page-link">Previous</a>
</li>
{% endif %}

{% for i in nums %}
<li class="page-item">
    <a href="?page={{ forloop.counter }} "class="page-link">{{ forloop.counter }}</a>
</li>

{% endfor %}

{% if sitters.has_next %}
<li class="page-item">
    <a href="?page={{ sitters.next_page_number }} "class="page-link">Next</a>
</li>
<li class="page-item">
    <a href="?page={{ sitters.paginator.num_pages }}"  class="page-link">Last &raquo;</a>
</li>
{% endif %}
</ul>
</nav>

{% endblock %}
