{% extends 'base.html' %}
{% load static %}
{% block content%}
<style>
    body {
        background-color: rgba(158, 184, 217, 0.5);
    }

    .btn-container {
        display: flex;
        align-items: center; 
    }

    .btn {
        background-color: #2a5982; 
        color: #fff; 
        border: none; 
        padding: 0.5rem 1rem; 
        margin-right: 0.5rem; 
        cursor: pointer;
    }

    .btn i {
        margin-right: 0.25rem; 
    }

    .card-header{
    border: 1px  #333; 
    opacity:90%;
    width: 87%;
    text-align: center; 
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:30%;
    margin: 0 auto; 
    background-color: aliceblue;
    text-align: center; 
  } 
    /* Centering the search bar */
    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    /* Adjusting the width of the search input */
    .search-input {
        width: 300px; 
        margin-right: 0.5rem; 
    }

    /* Resizing the search button */
    .search-btn {
        padding: 0.5rem 0.75rem; 
    }

    /* Moving the Add button to the right corner */
    .add-btn {
        margin-left: auto; 
    }

</style>

<div class="card-header">
    <h2>SITTERS OFFDUTY</h2>
</div>
<a href="{% url 'add_sitter_departure' %}" class="btn btn-primary mb-3">Add</a>
<div class="table-responsive">
    <table class="table table-bordered"  style="border-top: 2px solid rgb(34,32,32);">
        <thead class="table-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sitter number</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Comment</th>
                <th scope=>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for sitter in offduty %}
            <tr>
                <td>{{ sitter.id }}</td>
                <td>{{ sitter.sitter}}</td>
                <td>ST-00{{ sitter.sitter_number }}</td>
                <td>{{ sitter.departure_time }}</td>
                <td>{{ sitter.comment }}</td>
                <td>
                    <a href="{% url 'editoffduty' id=sitter.id %}" class="btn btn-primary ">Update</a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}